@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Overpass:wght@400;500;600;700;800;900&display=swap');

html {
    font-family: Overpass, sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/**
CSS file for general use, html, etc.
 */

a {
	display: flex;

	color: rgba(255, 255, 255, 0.80);
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
}

button {
	border: none;
	font-family: Overpass;
	cursor: pointer;
}
