@font-face {
	font-family: Overpass;
	src: url("fonts/Overpass-VariableFont_wght.ttf");
}

@font-face {
	font-family: Bungee;
	src: url("fonts/Bungee-Regular.ttf");
}

html {
    font-family: Overpass, sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/**
CSS file for general use, html, etc.
 */

a {
	display: flex;

	color: rgba(255, 255, 255, 0.80);
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
}

button {
	border: none;
	font-family: Overpass;
	cursor: pointer;
}
